@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    transition: 0.2s;
}

/* --- HEADER --- */


/* .header {
} */

.header__title {
    font-size: 120px;
    padding: 0;
    margin: 10px;
    font-family: ultradot;
    font-weight: 200;
    color: purple;
    text-shadow: 0px 0px 40px purple;
}

/* --- GAME ELEMENTS --- */

.gameArea {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 5px solid purple;
    box-sizing: border-box;
    overflow: hidden;
}

#monster {
    position: absolute;
    z-index: 999;
    top: 1;
    left: 1;
    height: 80px;
    width: 80px;
    background-size: cover;
    filter: drop-shadow(0px 0px 30px yellow);
}

.point {
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url(img/point.svg);
    background-size: cover;
    box-shadow: 0px 0px 30px 1px #00ff66;
}

.power-up {
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url(img/slowness.svg);
    background-size: cover;
}

.power-up--slowness {
    box-shadow: 0px 0px 30px 1px #0043b3;
}

/* --- SCORE-DISPLAY --- */

.score-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: purple;
    font-size: 200px;
    font-family: UltraDot;
    opacity: 0.2;
    transition: 0.3s;
}

.final-score-display {
    display: flex;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    color: white;
    border: none;
    text-align: center;
    background-color: black;
    animation: flash 0.2s ease-in-out 5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* --- GAME-DESCRIPTION --- */

/* --- BUTTON --- */

.button {
    width: 300px;
    font-size: 30px;
    color: black;
    outline: none;
    border-radius: 25px;
    border: none;
    background: purple;
}

.button:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

/* --- OTHER --- */

@font-face {
    font-family: UltraDot;
    src: url(font/HussarEkologiczne1.otf);
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* --- CRT EFFECT --- */

.crt-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 2em;
    color: white;
    text-shadow:
        0px 0px 2px white,
        /* Light green glow */
        -1px -1px 1px rgba(255, 255, 255, 0.2),
        1px 1px 1px rgba(255, 255, 255, 0.2),
        1px -1px 1px rgba(255, 255, 255, 0.2),
        -1px 1px 1px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    mix-blend-mode: screen;
    pointer-events: none;
    animation: crt-scanline 0.05s infinite;
} */

/* @keyframes crt-scanline {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2000px);
    }
} */