@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    transition: 0.2s;
}

:root {
    --ghost_left: url('img/ghost_l.gif');
    --ghost_right: url('img/ghost_r.gif');
    --ghost_aura: yellow;

    --point: url('img/point.svg');
    --point_aura: #00ff66;

    --slowness: url('img/slowness.svg');
    --slowness_aura: #0043b3;

    --ghost_size: 80px;
    --point_size: 25px;

    --color_theme: purple;
}

/* --- GAME TITLE AND RULES --- */

/* .header {
} */

.header__title {
    font-size: 120px;
    padding: 0;
    margin: 10px;
    font-family: ultradot;
    font-weight: 200;
    color: var(--color_theme);
    text-shadow: 0px 0px 40px var(--color_theme);
}

.game-desc {
    color: white;
    font-size: 13px;
    font-family: 'Press Start 2P', monospace;
    line-height: 35px;
    padding: 40px;
}

.game-desc__points::before,
.game-desc__slowness::before,
.game-desc__ghost::before,
.game-desc__border::before {
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -35px;
    content: "";
}

.game-desc__points::before {
    background-image: var(--point);
    box-shadow: 0px 0px 30px 1px var(--point_aura);
}

.game-desc__slowness::before {
    background-image: var(--slowness);
    box-shadow: 0px 0px 30px 1px var(--slowness_aura);
}

.game-desc__ghost::before {
    background-image: var(--ghost_right);
    filter: drop-shadow(0px 0px 30px var(--ghost_aura));
    background-size: cover;
}

.game-desc__border::before {
    width: 28px;
    height: 28px;
    border: 2px solid var(--color_theme);
}

/* --- GAME-ELEMENTS --- */

.gameArea {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 5px solid var(--color_theme);
    box-shadow: inset 0px 0px 10px 1px var(--color_theme);
    box-sizing: border-box;
    overflow: hidden;
}

#ghost {
    position: absolute;
    z-index: 999;
    top: 1;
    left: 1;
    height: var(--ghost_size);
    width: var(--ghost_size);
    background-size: cover;
    filter: drop-shadow(0px 0px 30px var(--ghost_aura));
}

.point,
.power-up--slowness {
    position: absolute;
    height: var(--point_size);
    width: var(--point_size);
    background-size: cover;
}

.point {
    background-image: var(--point);
    box-shadow: 0px 0px 30px 1px var(--point_aura);
}

/* .power-up {} */

.power-up--slowness {
    box-shadow: 0px 0px 30px 1px var(--slowness_aura);
    background-image: var(--slowness);
}

/* --- SCORE-DISPLAY --- */

.score-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    color: var(--color_theme);
    font-size: 200px;
    font-family: UltraDot;
    opacity: 0.2;
    transition: 0.3s;
}

.final-score-display {
    display: flex;
    width: 250px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
    text-align: center;
    animation: flash 0.2s ease-in-out 5;
}

/* --- BUTTON --- */

.button {
    width: 300px;
    font-size: 30px;
    color: black;
    outline: none;
    border-radius: 25px;
    border: none;
    background: var(--color_theme);
}

.button:hover {
    filter: brightness(1.5);
    cursor: pointer;
}

/* --- OTHER --- */

@font-face {
    font-family: UltraDot;
    src: url(font/HussarEkologiczne1.otf);
}

@keyframes flash {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* --- CRT-EFFECT --- */

.crt-text {
    font-family: 'Press Start 2P', monospace;
    font-size: 2em;
    color: white;
    text-shadow:
        0px 0px 2px white,
        /* Light green glow */
        -1px -1px 1px rgba(255, 255, 255, 0.2),
        1px 1px 1px rgba(255, 255, 255, 0.2),
        1px -1px 1px rgba(255, 255, 255, 0.2),
        -1px 1px 1px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}

/* body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    mix-blend-mode: screen;
    pointer-events: none;
    animation: crt-scanline 0.05s infinite;
} */

/* @keyframes crt-scanline {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(2000px);
    }
} */